/*global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
/* header styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.logo a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.logo img {
  width: 240px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login-register {
  display: flex;
  gap: 10px;
}
.navigation p {
  text-decoration: none;
  padding: 10px;
  color: rgba(0, 0, 0, 0.741);
}
.navigation p:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.074);
  border-radius: 20px;
}
.navigation li {
  list-style: none;
}
.navigation button:first-child {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 18px;
}
.navigation button:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 25px;
  background-color: black;
  vertical-align: middle;
  margin-left: 15px;
}
.navigation button:nth-child(2) {
  padding: 10px 20px;
  border: 1px solid rgb(70, 70, 213);
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  color: rgb(63, 63, 196);
}
.navigation button:hover {
  cursor: pointer;
  color: rgb(39, 39, 233);
}

/* slider */
.swiper {
  width: 100%;
  height: 650px;
  position: relative;
}
.swiper img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan {
  font-size: 20px;
  position: absolute;
  width: 760px;
  background-color: rgba(0, 0, 0, 0.424);
  color: white;
  left: 30%;
  top: 70%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
}
.about-us {
  width: 100%;
  background-color: rgb(20, 21, 24);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us-img {
  width: 40%;
}
.about-us-img img {
  width: 100%;
}
.about-us-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  color: rgb(214, 208, 208);
  padding: 50px;
  font-size: 24px;
  gap: 20px;
  line-height: 1.5;
}
.why-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  gap: 40px;
}
.header-text {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: rgb(20, 21, 24);
  /* overflow: hidden;
  border-right: 1px solid;
  white-space: nowrap;
  animation: typewriter 5s steps(20) forwards infinite; */
}

.why-us-reasons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.why-us-reason {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 390px;
  background-color: rgb(20, 21, 24);
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  transition: transform 1.5s 0.3s ease;
}
.why-us-reason:hover {
  transform: scale(1.05);
}

.why-us-reason svg {
  width: 50px;
  fill: rgb(165, 130, 229);
}
.bold {
  font-weight: 800;
  font-size: 26px;
}
/* animations */
#variety {
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#reliability {
  animation: beat 1.5s infinite;
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#support {
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* products */
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 3%;
}
.product,
.product-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img {
  opacity: 0;

  transform: translate(-600px);

  width: 50%;
}
.animation {
  animation: show 0.5s ease-in forwards;
}
.product-img-reverse {
  opacity: 0;

  display: flex;
  justify-content: center;
  width: 50%;
  transform: translateX(600px);
}
.animation-reverse {
  animation: show-reverse 0.5s ease-in forwards;
}
@keyframes show {
  0% {
    transform: translate(-600px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes show-reverse {
  0% {
    transform: translate(600px);
  }
  100% {
    transform: translate(0);
  }
}
.product-img img {
  width: 80%;
}
.product-img-reverse img {
  width: 60%;
}
.product-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  font-size: 22px;
  padding: 5%;
}
.services {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 3%;
}
.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  gap: 20px;
  background-color: rgb(20, 21, 24);
  border-radius: 40px;
  box-shadow: 0 0 20px;
}
.service-text {
  color: white;
  font-size: 22px;
}
.service-img {
  width: 40%;
}
.service-img:first-child img {
  width: 100%;
  border-radius: 40px 0 0 40px;
}
.service-img:nth-child(2) img {
  width: 100%;
  border-radius: 0 40px 40px 0;
}
.service-text {
  width: 60%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-container {
  background-color: rgb(20, 21, 24);
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container a {
  color: rgb(80, 199, 232);
  text-decoration: none;
}

.footer-logo {
  width: 50%;
  display: flex;
  justify-content: center;
}
.footer-logo img {
  width: 60%;
}
.footer-info {
  font-size: 22px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-info p {
  margin-top: 30px;
}
